<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <script defer src="/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Slab:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
        <nav class="navbar">
  
          <div class="logo">
            <img class="logo--img"
              src="/images/JL_Logo_blue&orange._91d1d7&e27458 Medium.jpeg"
              alt="logo" />
          </div>
  
          <ul class="nav__list">
            <li class="nav__item">
              <a href="/" class="nav__link">Home</a>
            </li>
  
            <li class="nav__item">
              <a href="#services" class="nav__link">My services</a>
            </li>
  
            <li class="nav__item">
              <a href="#about" class="nav__link">About me</a>
            </li>
  
            <li class="nav__item">
              <a href="#work" class="nav__link">My work</a>
            </li>
            
          </ul>
  
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </header>

    <!-- introduction -->
    <section class="intro" id="home">
      <h1 class="section__title section__title--intro">
        Hi, I am <strong>Jane Liang </strong>
      </h1>
      <p class="section__subtitle section__subtitle--intro">
        Aspiring Full-Stack Web Developer
      </p>
      <img
        class="intro__img"
        src="/images/me2.jpeg"
        alt="a picture of Jane smiling"
      />
    </section>

    <!-- show project -->

    <section class="my-project">
      <h2><%=project.name%></h2>
      <a href="<%=project.url%>"><%=project.url%></a>
      <%if(project.partner) {%>
      <p>Partner: <%=project.partner%></p>
      <%}%>
      <div class="project-images">
        <% for(let image of project.images) {%>
        <img
          class="single-project-image"
          src="<%=image%>"
          alt="An image of the app"
        />
        <%}%>

        <div class="video">
        <%if(project.id === 1) {%>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sX5u8J6s8aI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <%}%>
        <%if(project.id === 2) {%>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KCrLK2s0wq4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <%}%>
        </div>
      </div>

      <div class="video"><%=project.video%></div>
      <p><%=project.description%></p>
    </section>

    <!-- contact me -->
    <footer class="footer">
      <div class="contact-me white-background">
        <ul class="list">
          <li>
            <img class="contact-icon" src="/icons/email.svg" />
            <a href="mailto:janeliangbc@gmail.com" class="contact email-link"
              >janeliangbc@gmail.com</a
            >
          </li>

          <li>
            <img class="contact-icon" src="/icons/phone.svg" />
            <p class="contact phone-number">7787085905</p>
          </li>

          <li>
            <img class="contact-icon" src="/icons/linkedin.svg" />
            <a
              href="www.linkedin.com/in/janiejane"
              class="contact linkedin-link"
              >www.linkedin.com/in/janiejane</a
            >
          </li>

          <li>
            <img class="contact-icon" src="/icons/github.svg" />
            <p class="contact github-name">Cocoandjane</p>
          </li>
        </ul>
        <img class="footer__img" src="/images/me-footer.jpeg" />
      </div>
    </footer>
  </body>
</html>
